@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



header {
    background-color: #1977cc;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;


}



.logo {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}


.logo span {
    font-weight: 400;
    font-size: 100%;
    color: rgb(8, 16, 134);
    /*color: red;*/

}

.navigation a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    transition: 0.7s ease;

}

.navigation a:hover {

    color: #a0a0a0;

}


section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.main h2 {
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.main h2 span {
    display: inline-block;
    margin-top: 20px;
    /* color: #80c7d0;*/
    color: rgb(112, 6, 6);
    font-size: 70px;
    font-weight: 800;
}

.main h3 {
    /*color: aliceblue;*/
    color: #000000;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: aliceblue;
    /* background-color:  #80c7d0;*/
    background-color: rgba(211, 53, 53, 0.808);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    /* background-color: #3e9ba8 ;*/
    background-color: rgb(155, 9, 9);
    transform: scale(1.1);

}

.mai-btn {
    color: aliceblue;
    /* background-color:  #80c7d0;*/
    background-color: rgba(211, 53, 53, 0.808);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 40%;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.mai-btn:hover {
    /* background-color: #3e9ba8 ;*/
    background-color: rgb(155, 9, 9);
    transform: scale(1.1);

}

/*
.social-icons {
    color: antiquewhite;
    font-size: 0.2rem;
    padding-right: 10px;
}
*/
.social-icons a {
    color: antiquewhite;
    font-size: 0.2rem;
    padding-right: 10px;
}


.title {
    display: flex;
    justify-content: center;
    color: #1a1a1a;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.btn-main {
    color: aliceblue;
    /* background-color:  #80c7d0;*/
    background-color: rgba(211, 53, 53, 0.808);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;

    width: auto;
    margin-top: 30px;
    justify-content: center;
    margin-left: 45%;
    margin-right: auto;

    transition: 0.7s ease;
}

.btn-main:hover {
    /* background-color: #3e9ba8 ;*/
    background-color: rgb(155, 9, 9);
    transform: scale(1.1);

}



.card {
    background-color: aliceblue;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}


.card:hover {
    transform: scale(1.1);

}

.icon {
    color: #1a1a1a;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.projects-title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 800;
    margin-top: 10px;

}

/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */

.mar {
    font-size: 30px;
    text-decoration: none;
    color: #a13838;
}

.mar:hover {
    color: #130b0b;
}


.info h3 {
    color: #1a1a1a;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    /* text-align: center;*/

}


.projects {
    /* background-color:#1a1a1a;*/
    background-color: #1977cc;

}

.projects-titles {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    color: aliceblue;
}

.projects.content {
    margin-top: 30px;


}

.projects-card {
    background-color: aliceblue;
    border-radius: 1px solid aliceblue;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.projects-card:hover {
    transform: scale(1.1);
}


.projects-card:hover .projects-image {
    opacity: 0.9;
}

.projects-image img {
    width: 100%;
}


.projects-info {
    padding: 1em;

}

.projects-category {
    font-size: 0.8em;
    color: #1a1a1a;
}

.projects-title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 800;
    margin-top: 10px;

}


.more-details {
    text-decoration: none;
    color: #383838;
}

.more-details:hover {
    color: #1a1a1a;
}



.contact .icon {
    font-size: 4.5em;

}

.contact .info h3 {
    color: #1a1a1a;
}

.contact .info a {
    /*  text-decoration: none;
    color: #1a1a1a;*/
    /*
    text-decoration: none;
    color:black;*/
    /*   text-transform: uppercase;*/
    /*  font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    transition: 0.7s ease*/
    text-decoration: none;
    color: #383838;

}

.contact .info a :hover {
    transform: scale(1.1);
    color: black;
}


.contact.info p {
    font-size: 1.5em;

}


.contact.info p :hover {
    color: #000000
}


.footer {
    background-color: #1a1a1a;
    color: aliceblue;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}


.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}


.footer-title span {
    color: #636892;

}


@media(max-width :1023px) {
    header {
        padding: 12px 20px;

    }

    .navigation a {
        padding-left: 10px;

    }

    .title {
        font-size: 1.8em;
    }


    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;

    }

    .main-content h3 {
        font-size: 1.6em;

    }

    .content {
        flex-direction: column;
        align-items: center;

    }


}


.imgg:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media(max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 1.4em;
    }


}


/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */


@media(max-width:300px) {

    body {
        font-size: 10px;

    }
}









/*============================================================
==================  cart   ===================================
==============================================================*/
.bu12 {

    border: 2px solid #e1701a;
    background: #f7a440;
    color: white;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px;

}

.bu12:hover {
    box-shadow: 0 0 5px 5px #e1701a inset;

}

.cartImg {
    width: 200px;
    height: 200px;
}

/*================================================================================
================  Frequently Asked Questions   ===================================
==================================================================================
*/
.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #76b5ee;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: #1977cc;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

/*================================================================================
================    Testimonials   ===============================================
==================================================================================
*/
.testimonials .testimonial-wrap {
    padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
    position: relative;
    background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #badaf7;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #1977cc;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #1977cc;
}

@media (max-width: 767px) {
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }

    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
        overflow: hidden;
    }

    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }

    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
}


/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */



/*================================================================================
==============   Footer    =======================================================
==================================================================================
*/
#footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #e3e3e3;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1c84e3;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #1977cc;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: rgb(245, 13, 13);
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #1c84e3;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
}



@media(max-width :1023px) {
    header {
        padding: 12px 20px;

    }

    .navigation a {
        padding-left: 10px;

    }

    .title {
        font-size: 1.8em;
    }


    .section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;

    }

    .main-content h3 {
        font-size: 1.6em;

    }

    .content {
        flex-direction: column;
        align-items: center;

    }


}

@media(max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 1.4em;
    }


}


@media(max-width:300px) {

    body {
        font-size: 10px;

    }
}

/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */

@media(max-width:748px) {

    .main h2 {

        font-size: clamp(30px, 40px, 50px);

    }

    .main h2 span {

        font-size: clamp(40px, 50px, 60px);
        color: #102583;


    }



    section {
        padding: 10px 20px;

    }


    .main h3 {

        font-size: clamp(30px, 40px, 50px);

    }

    .info p {

        font-size: clamp(13px, 17px, 20px);
    }

    .projects-title {
        padding-top: 15px;
    }



    .title {
        padding-top: 15px;

    }

    .projects-card {
        width: 19em;

    }
}



/*================================================================================
==============    Back to top button   ===========================================
==================================================================================
*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1977cc;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #298ce5;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.datepicker-dropdown {
    padding: 20px !important;
}


/*  =======================================================================================
=============================   loading ===================================================
==========================================================================================*/

#preloader {
    background: rgb(255, 255, 255) url(../image/loading/_______.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


/*  ====================================================================================
=========================   promo code   ===============================================
========================================================================================*/






.coupon-card {
    background: linear-gradient(135deg, #7158fe, #9d4de6);
    color: #fff;
    text-align: center;
    padding: 40px 80px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    position: relative;
}

.logo-p {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.coupon-card h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.coupon-card p {
    font-size: 15px;
}

.coupon-row {
    display: flex;
    align-items: center;
    margin: 25px auto;
    width: fit-content;
}

#cpnCode {
    border: 1px dashed #fff;
    padding: 10px 20px;
    border-right: 0;
}

#cpnBtn {
    border: 1px solid #fff;
    padding: 10px 20px;
    background: #fff;
    color: #7158fe;
    cursor: pointer;
}

.circle1,
.circle2 {
    background: #f0fff3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.circle1 {
    left: -25px;

}

.circle2 {
    right: -25px;
}



/*==========================================================================
============================= dark & light mode ===========================
===========================================================================*/

.containerr {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}

#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #15181f;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

}

#toggle::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffffff;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}




/*
        
        license  :- Mark Roby Shafik
        linkedin :- https://www.linkedin.com/in/mark-roby-26616b211/
        
    */